*{
   max-width: 1280px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    font-style:Sans-Serif;
}
.navbar-containers {
    

}
.Content h3{
  font-size:40px ;
  font-weight: 100px;
}

.navbar-content {
  
    max-width: 1280px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: 700; 
    align-items: center;
    display: flex;
  
}
       
      
.nav-menu{
 display: flex;
 gap: 8px;
 text-decoration: none;
   list-style: none; 

}
.nav-item a{
   text-decoration: none;
   list-style: none;
   color: #000000;
}


.navbar-cta-wrapper {
  
    padding: 0.25rem; 
    border-radius: 9999px;
  
    border: 1px solid #1f2937; 
}

.navbar-cta-button {
    
    padding: 0.5rem 1rem; 
    font-size: 0.875rem; 
    font-weight: 600; 
    color:black;
   
    border-radius: 9999px; /* Equivalent to rounded-full */
  
    cursor: pointer;
    border: none;
}

.navbar-cta-button:hover {

}
.main-content{
  display: flex;
      padding-top: 25px;
 
}
.speaker{
  width: 500px;
  position: relative;
  right: 30px;
}
.frame{

  flex-direction: column;
  padding-right: 200px;

  
}
.Content{
  /* padding-right:30px ; */
 line-height: 25px;

}
.book{
  /* padding-right: 180px; */
  padding-right: 30px;
}
.main-btn{
  background-color: black;
padding: 15px 25px 15px 25px ;
  color: white;
  border-radius: 10px;
  margin-left: 15px;
}
 
.logos-list{
  display: flex;
  text-decoration: none;
   list-style: none; 

}
.logos{
  margin-top: 30px;
}
.subheading{
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-top: 50px;
 

}
.engine {
  line-height: 4px;



}

.first-engine{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/* .engine {
background-color: #B9FF66;
} */
.right-sub p{
  line-height: 3px;
  padding-right: 450px;
}
.left-sub h1{
 border: 1px solid;
 background-color: #B9FF66;
 border-color: #f3f3f3;


}
.Service-Block{
 margin-top: 40px;
}
.services{
  display:grid ;
  grid-template-columns: 6fr 6fr;
  gap: 30px;
  
}
.first-box{
  
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  background-color: #F3F3F3;




}
.more p{
  padding-left:6px;
}


  .learn-more{
    color:#B9FF66 ;
  }
  

.eng-img{

}
.firstthing{
 width: 200px;
}
.Second-box{
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  background-color: #B9FF66;
}
.third-box{
   border: 1px solid;
  border-radius: 20px;
  display: flex;
  background-color: #191A23;
}
.fourth-box{
   border: 1px solid;
  border-radius: 20px;
  display: flex;
   background-color: #F3F3F3;
}
.fifth-box{
   border: 1px solid;
  border-radius: 20px;
  display: flex;
  background-color: #B9FF66;
}
.sixth-box{
    border: 1px solid;
  border-radius: 20px;
  display: flex;
    background-color:#191A23;
}

.cta-block{
  margin-top: 70px;

display: flex;
justify-content: space-between;


}
.Contact{
  display: flex;
align-items: center;
padding-right: 300px;
}
.Contact p{
  padding-right: 200px;
}
.Contact h2{
   background-color:#B9FF66 ;
   padding: 2px 8px 2px 8px;
   font-size: 28px;
}
.cta-contact{
 background-color: #F3F3F3;
 border-radius: 20px;
}
.helloblock{
margin-top: 40px;
}
.cta-main{

 
}
.frame-img{
 
}
.frame-img2{
  width: 75%;
}
.case{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 100px;
}
.boxs{
  display: flex;
  border: 1px solid;
  border-radius: 20px;
  background-color: black;
  margin-top: 50px;
  padding: 30px;
 
}
.firstbox{
  color: white;
  
    
}
.firstbox h4{
  color: #B9FF66;
}
.secondbox {
  color: white;
 
}
.secondbox h4{
   color:#B9FF66
}
.thirdbox{
  color: white;
}
.thirdbox h4{
  color: #B9FF66;
}
.firstline{

  
}
.work{
  display: flex;
   align-items: center;
 margin-right: 450px;
 margin-top: 75px;
}
.work h3{
  background-color: #B9FF66;
  padding: 14px;

  font-size: 25px;
 
}
.consultation{  
  border: 1px solid;
   border-radius: 80px;
   padding-top: 20px;

 

}
.firstblock{
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  background-color:#B9FF66 ;
}
.hello{
  display: flex;
}
.hello p{
 padding-right: 400px;
}
 .hello h3{
  padding-right: 835px;
  font-weight: 200px;
  font-size: 20px;
 }
 .hello2{
  display: flex;
  
 }
 .hello2 h3{
  padding-right: 660px
 }
 .hello3{
  display: flex;
 }
 .hello3 h3{
  padding-right: 825px;
 }
 .hello4{
  display: flex;
  
 }
 .hello4 h3{
   padding-right: 720px
 }
 .hello5{
  display: flex;
 }
 .hello5 h3{
   padding-right: 720px
 }
 .hello6{
  display: flex;
 }
 .hello6 h3{
  padding-right: 775px
 }
 



.secondblock{
 border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  background-color:#F3F3F3 ;
}
.thirdblock{
   border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
    background-color:#F3F3F3 ;
}
.fourthblock{
     border: 1px solid;
  border-radius: 20px;
  padding: 10px;
   margin-top: 20px;
     background-color:#F3F3F3 ;
}
.fifthblock{
      border: 1px solid;
  border-radius: 20px;
  padding: 10px;
   margin-top: 20px;
     background-color:#F3F3F3 ;
}
.sixthblock{
       border: 1px solid;
  border-radius: 20px;
  padding: 10px;
   margin-top: 20px;
     background-color:#F3F3F3 ;
}
.processblock{

  gap: 20px;
  

}
.helloblock{
  display: grid;
 
}
           
.Team{
  display: flex;
  align-items: center;
  margin-top: 80px;
  padding-right: 350px;

  
}
.Team h3{
  background-color: #B9FF66;
  padding: 10px 10px 10px 10px ;
  font-size: 30px;
  font-weight: 200px;
}
.Cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.cardsone{
  border: 1px solid;
  border-radius: 20px;
    box-shadow: 0 3px 0 #000; 
}
.cardsname{
  display: flex;
  align-items: center;

}
.cardsnametwo{
  display: flex;
}
.nameone h3 {

 
}
.cardsone  p{
 width:50% ;
 padding-right: 160px;
}
.nametwo h3{

}
.cardstwo{
  border: 1px solid;
  border-radius: 20px;
    box-shadow: 0 3px 0 #000; 
}
.cardsthree{
  border: 1px solid;
  border-radius: 20px;
    box-shadow: 0 3px 0 #000; 
}
.cardsfour{
  border: 1px solid;
  border-radius: 20px;
    box-shadow: 0 3px 0 #000; 
}
.cardsfive{
  border: 1px solid;
  border-radius: 20px;
    box-shadow: 0 3px 0 #000; 
}
.cardssix{
  border: 1px solid;
  border-radius: 20px;
    box-shadow: 0 3px 0 #000; 
}
.Contact{
  display: flex;
}
.body {
  background: #f3f3f3;
  font-family: "Inter", sans-serif;
}
.btn-block{
   background-color: #000000;
   color: white;
   padding: 20px 20px 20px 20px;
   font-size: 15px;
   margin-left: 18px;
   border-radius: 20px;
}
.case h1{
  background-color:#B9FF66; 
  border-radius: 10px;
}
.team{
 margin-top: 25px;
 display: flex;
 margin-left: 950px;
}
.bts{
  border: 1px solid;
  background-color: #15161f;
  color: white;
  border-radius: 5px;
  padding: 15px 40px 15px 40px ;
  
}
  


.contact-container {

  max-width: 600px;
  padding: 40px;
  margin: 60px auto;

}

.contact-type {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  align-items: center;
}

.radio-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  position: relative;
}

.radio-option input {
  display: none;
}

.custom-radio {
  width: px;
  height: 18px;
  border: 2px solid #bcbcbc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left:5px
}

.radio-option input:checked + .custom-radio {
  border-color: #64d231;
}

.radio-option input:checked + .custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #64d231;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 9px;
}

.form label {
  margin-top: 18px;
  color: #333;
  font-size: 14px;
  display: block;
}

.form input,
.form textarea {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: 2px solid #cfcfcf;
  font-size: 16px;
  outline: none;
  margin-top: 6px;
  resize: none;
}

.form textarea {
  height: 150px;
}

.submit-btn {
  width: 100%;
  padding: 18px;
  background: #15161f;
  color: #fff;
  font-size: 18px;
  border-radius: 12px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.9;
}
.Containers{
  border: 1px solid;
  display: flex;
  border-radius: 20px;
  background-color: #F3F3F3;

  margin-top: 50px;



}
.right-image{
  /* position: absolute;
  left: 20px; */
  height: 5px;
}
.imge{
  height: 500px;
  position: relative;
  top: 100px;
  left: 320px;
}
.Profilethree{
   display: flex;
}
.Footer{
  display: flex;
   color: #fff;
   padding-top: 20px;
   align-items: center;
  
}
.nav{
  display: flex;
}
.contackus h3{
 background-color: #B9FF66;
 color: black;

}
.nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}
.Content h3{
  font-size: px;
}
.footer-contactus{
  display: flex;
   color: #fff;
  padding-right: 185px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  
}
.emial{
  display: flex;
  gap: 20px;
}
.mail{
  padding: 20px;
  border-radius: 20px;
}
.subscribe{
    padding: 20px;
  border-radius: 20px;
 background-color: #B9FF66;
 color: black;
}
.footer-line{
    border: 1px solid;
    border-color: #f3f3f3;
    margin-top: 30px;
}
.fotter-end{
  display: flex;
  
 color: #cfcfcf;
 margin-top: 20px;
 justify-content: space-between;
 

 
}
.Footer h3{
  font-size: 20px;
  padding-right: 200px;
}
.footer-main{
  background-color: #15161f;
  margin-top: 100px;
  border-radius: 20px;
}
.emialborder{
  border: 1px solid;
  padding: 35px;
  border-radius: 20px;
  background-color: #292A32;
}



